<ul class="list-group"> 
	 <li class="list-group-item d-flex justify-content-between align-items-center">
	 <a class="title-list" >Title</a>
	 <a class="title-list">Category Name</a>
	 <a class="title-list">Edit / Delete</a>
	 </li>
	{% if items and quantity > 0 %}
	    {% for i in items %}
	    <li class="list-group-item d-flex justify-content-between align-items-center">
		<a href="{{ url_for('showCatalogItem', category_id=i.category_id, catalog_item_id=i.id) }}" >
			{{i.title}}</a><a>{{ i.category.name }}</a>
			<div class="editdeletepane">
			{% if i.user_id == session.user_id %}
				<a href="{{ url_for('editCatalogItem', category_id=i.category_id, catalog_item_id=i.id) }}">
					<button class="btn edit ">
						<span class="fa fa-edit" aria-hidden="true"></span>
					</button>
				</a>
				<a href="{{ url_for('deleteCatalogItem', category_id=i.category_id, catalog_item_id=i.id) }}">
					<button class="btn delete">
						<span  class="fa fa-times" aria-hidden="true"></span>
					</button>
				</a>
			{% else %}
			<a href="#">
					 <button class="btn edit disabled">
						<span class="fa fa-edit" aria-hidden="true"></span>
					</button>
				</a>
				<a href="#">
					 <button class="btn  delete disabled">
						<span  class="fa fa-times" aria-hidden="true"></span>
					</button>
				</a>
			{% endif %}
			</div>
	    </li>
	    {% endfor %}
	{% else %}
	<ul>
	    <li class="list-group-item">
	        You currently have no menu items.
	    </li>
	</ul>
	{% endif %}
</ul>
