{% extends "main.html" %}
{% block content %}
{% include "flash_alert.html" %}
<div class="row">
{% include "category_panel.html" %}
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
			
				<h3>
						<a class="title" href = "{{ url_for('newCatalogItem') }}">
						Latest Items
							<button class="btn  primary">
								<span class="fa fa-plus-circle" aria-hidden="true"></span> 
							</button>
						</a>
					
				</h3>
				
			</div>
		</div>
		<!-- category List -->
		{% include "catalog_list.html" %}
	</div>
</div>
{% endblock %}}