{% extends "main.html" %}
{% block content %}
<div class="card card-section item-info-card">
	<div class="row banner menu">
		<div class="col-md-12 padding-none">
			<h3>New Catalog Item</h3>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 padding-top">
			<form method="POST">
				<div class="form-group">
					<label for="name">Title:</label>
					<input type ="text" maxlength="50" class="form-control" name="title" placeholder="Title" required>
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the item" required></textarea>

					<div class="form-group">
						<label for="Category">Category:</label>
						<select class="form-control" name="category" required>
							{% for c in categories %}
								{% if item and item.category_id == c.id %} 
								<option id="{{c.id}}" value="{{c.id}}" selected>{{c.name}}</option>
								{% else %}
								<option id="{{c.id}}" value="{{c.id}}">{{c.name}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<button type="submit" class="btn btn-create" id="submit" type="submit">
					</span>Create</button>
					<button class="btn btn-cancel delete">
						
						<a href = "{{ url_for('showCatalog') }}">
							Cancel
						</a>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}